<h1>Create New Blog</h1>

<%= simple_form_for @blog do |f| %>
<%=  f.input :title %>
<%=  f.input :body %>
<%= f.submit "add a blog post", class: "btn btn-primary" %>
<% end %>

<p> <%= link_to "Return to Blogs Page", blogs_path %>   </p>
