<h1>Edit portfolio item</h1>

<%= simple_form_for @portfolio_item do |f| %>
<%=  f.input :title %>
<%=  f.input :subtitle %>
<%=  f.input :body %>
<%=  f.input :main_image %>
<%=  f.input :thumb_image %>
<%= f.submit "Update Portfolio", class: "btn btn-primary" %>
<% end %>
