<img src=<%= @portfolio_item.main_image %> alt="">
<h1> <%= @portfolio_item.title %></h1>
<h3> <%= @portfolio_item.subtitle %></h3>
<p> <%= @portfolio_item.body %></p>
<%= link_to "Home", portfolios_path %>


