<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <img src=<%= portfolio_img(@portfolio_item.main_image, 'main')%> alt="" width="100%">
    </div>
    <div class="col-md-5">
      <h1> <%= @portfolio_item.title %></h1>
      <h3> <%= @portfolio_item.subtitle %></h3>
      <p> <%= @portfolio_item.body %></p>
      <%= link_to "Home", portfolios_path %>

      <h2>Technologies Used</h2>
      <% @portfolio_item.technologies.each do |technology_item| %>
      <p><%= technology_item.name %> </p>
      <% end %>
    </div>
  </div>
</div>





