<img src=<%= @portfolio_item.main_image %> alt="">
<h1> <%= @portfolio_item.title %></h1>
<h3> <%= @portfolio_item.subtitle %></h3>
<p> <%= @portfolio_item.body %></p>
<%= link_to "Home", portfolios_path %>

<h2>Technologies Used</h2>
<% @portfolio_item.technologies.each do |technology_item| %>
<p><%= technology_item.name %> </p>
<% end %>

