<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">Why the Blog?</h4>
    <p class="mb-0">I think it's always important to remember your roots and where you came from. Wherever the journey leads, this blog will function as a roadmap to where it all began. Enjoy the ride!</p>
  </div>


  <%= source_helper("alert-success") %>





  <div class="p-4">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/jeffreyxmonteiro/" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/jeffrey-monteiro/" target="_blank"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.instagram.com/chamonejefe/" target="_blank"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</aside>
