<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />


    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/blog_nav' %>



    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <%= yield %>
        </div>

        <%= render 'shared/blog_sidebar' %>
      </div>
    </main>



    <!-- Beginning footer -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- End of footer -->

    <%= render 'shared/nav', location: 'bottom' %>

    <%= source_helper("blog") %>
  </body>
</html>
